*{
    margin: 0;
    width: 0;
    height: 0;
    max-width: 0;
    margin: 0;
    width: 0;
    height: 0;
    max-width: 0;
    margin: 0;
    width: 0;
    height: 0;
    max-width: 0;margin: 0;
    width: 0;
    height: 0;
    max-width: 0;margin: 0;
    width: 0;
    height: 0;
    max-width: 0;
}
